.Header{
	grid-area: header;
	background: red;
}
.Menubar{
	grid-area: menubar;
	background: yellow;
}
.Menu{
	grid-area: menu;
	background: #58FA58;
}
.Montainer{
	grid-area: container;
	background: #DF3A01;
}
.Footer{
	grid-area: footer;
	background: #BF00FF;
}
.grid_container{
	display: grid;
	grid-template-areas:
    		'header header header header'
    		'menubar menubar menubar menubar'
    		'menu container container container'
    		'menu container container container'
    		'footer footer footer footer';
    	text-align: center;
}
.grid_container > div{
	padding: 50px;
}
